/* App Colors
Blue - #004AAD
Orange - #FF914D */


/* Login/Signup Screen */
.Login {
  text-align: center;
  background-color: #004aad;
  height: 100vh;
  /* overflow-y: hidden;
  overflow: hidden; */
}

.app-logo {
  height: 5 0vmin;
  border-radius: 1px 0 3px 4px;
}

/* Home Screen */
.home {
  text-align: center;
  height: 100%;
  margin: auto;
  background-color: white;

  /* Background Image */
  /* border-radius: 1px 0 3px 4px;
  background-image: url("https://user-images.githubusercontent.com/102488171/180894430-7f34d472-53fc-4bf7-930f-d0fd95bb7dd1.jpeg");
  object-fit: initial;
  background-attachment: fixed; */
}

.home-logo {
  height: 20vmin;
  border-radius: 10%;
}

/* Ascending & Descending Button */
.up-down {
  justify-content: left;
}

/* Arrow Emojis */
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;
  height: auto;
  width: 50px;
  position: relative;
  top: 0px;
}

span.emojiArrow {
  color: black;
  font-size: 20px;
  vertical-align: middle;
  line-height: 2;
}

/* Reminder Cards */
/* .cards {
  color: black;
  border: solid 1px;
  border-radius: 1px 0 3px 4px;
} */

/* .reminder {
  background-color: lightgrey;
} */

/* Thumb Tack Emoji */
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;
  height: auto;
  width: 50px;
  position: relative;
  top: 0px;
}

span.emoji {
  font-size: 45px;
  vertical-align: middle;
  line-height: 2;
}

.btn {
  color: black;
  border: solid 10px;
  border-radius: 1px 0 3px 4px;
}

/* Card Styling */
.incomplete {
  background-color: lightblue;
}

.complete {
  background-color: pink;
}

/* Search Bar */
.search-bar {
  overflow: hidden;
  background-color: white;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  display: inline-block;
  border: solid 1.5px;
}

.search-icon button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  cursor: pointer;
}

/* Weekday, Date, Time Display */
.date {
  width: 10vmin;
  background: #004AAD;
  height: 10vmin;
  color: #FF914D;
  border-radius: 10%;
  position: absolute;
  right: 40px;
  top: 40px;
  text-align: center;
  padding: 30px 0;
}

.day {
  color: white;

}

/* Category Dropdown */
.dropbtn {
  background-color: #04AA6D;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: absolute;
  top: -50px;
  right: -150px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -40px;
  right: -150px;
  background-color: rgba(0, 0, 0, .3);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Card Colors */
/* Teal - #BADCC5 */
/* Pink - #FFC0C0 */
/* Salmon - #FF9D80 */
/* Yellow - #FEDC2B */
/* Cyan - #75CABB */

.medical {
  background-color: #9cdbb0;
}

.family {
  background-color: #FFC0C0;
}

.fitness {
  background-color:  #FEDC2B;
}

.personal {
  background-color: #FF9D80;
}

.other {
  background-color: #75CABB;
}