/* App Colors
Blue #004AAD
Orange #FF914D */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* Login/Signup Screen */
.Login {
  text-align: center;
  background-color: #004aad;
  height: 100vh;
  /* overflow-y: hidden;
  overflow: hidden; */
}

.app-logo {
  height: 5 0vmin;
  border-radius: 1px 0 3px 4px;
}

/* Home Screen */
.home {
  text-align: center;
  height: 100%;
  margin: auto;
  background-color: white;

  /* Background Image */
  /* border-radius: 1px 0 3px 4px;
  background-image: url("https://user-images.githubusercontent.com/102488171/180894430-7f34d472-53fc-4bf7-930f-d0fd95bb7dd1.jpeg");
  object-fit: initial;
  background-attachment: fixed; */
}

.home-logo {
  height: 20vmin;
  border-radius: 10%;
}

/* Ascending & Descending Button */
.up-down {
  justify-content: left;

}

/* Arrow Emojis */
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;
  height: auto;
  width: 50px;
  position: relative;
  top: 0px;
}

span.emojiArrow {
  color: black;
  font-size: 20px;
  vertical-align: middle;
  line-height: 2;
}

/* Reminder Cards */
.cards {
  color: black;
  border: solid 1px;
  border-radius: 1px 0 3px 4px;
}

/* Thumb Tack Emoji */
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;
  height: auto;
  width: 50px;
  position: relative;
  top: 0px;
}

span.emoji {
  font-size: 45px;
  vertical-align: middle;
  line-height: 2;
}

.btn {
  color: black;
  border: solid 10px;
  border-radius: 1px 0 3px 4px;
}

/* Card Styling */
.incomplete {
  background-color: lightblue;
}

.complete {
  background-color: pink;
}

/* Search Bar */
.search-bar {
  overflow: hidden;
  background-color: white;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  display: inline-block;
  border: solid 1.5px;
}

.search-icon button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  cursor: pointer;
}

.date {
  width: 20vmin;
  background: #004AAD;
  height: 20vmin;
  color: white;
  border-radius: 10%;
  position: absolute;
  right: 80px;
  top: 0px;
  text-align: center;
}

.value {
  padding: 70px 0;
}

.clock-value {
  padding: -30px 0;
}